{
  "parser": "@babel/eslint-parser",
  "env": {
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "curly": "error",
    "no-unused-vars": ["error", {
      "args": "after-used",
      "argsIgnorePattern": "_",
      "vars": "all",
      "varsIgnorePattern": "_"
    }],
    "jsx-quotes": "error",
    "no-trailing-spaces": "error",
    "no-underscore-dangle": "error",
    "quotes": ["error", "single", { "avoidEscape": true }],
    "semi": "error",
    "react/prop-types": "off"
  }
}
